@using ElearningMVC.Models

@model List<Video>
<head>

<style>
        #video-list-container {
            width: 100%;
            max-height: 200px; /* Set a maximum height to enable scrolling */
            overflow-y: auto; /* Enables a vertical scrollbar if the content exceeds max height */
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            padding: 5px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }

        #video-list {
            list-style-type: none; /* Removes bullet points from list items */
            padding: 0;
            margin: 0;
        }

            #video-list li {
                padding: 10px;
                border-bottom: 1px solid #ddd;
                cursor: pointer; /* Shows a pointer cursor on hover */
            }

                #video-list li:hover {
                    background-color: #e6e6e6;
                }

</style>
</head>

    <div style="display:flex;justify-content:space-around">
<div>

        <div id="video-list-container">
            <ul id="video-list">
                @foreach (var data in Model)
                {
                    <li data-url="@data.Url" data-vid="@data.Vid">@data.Topic</li>
                }
            </ul>
        </div>
</div>
<div>
    <div>
    <iframe id="video" width="1000" height="600" frameborder="0" allowfullscreen></iframe>
    </div>

    <div style="display:flex;justify-content:space-around">
        <input type="button" class="btn btn-success" value="mcqs"/>
            <input type="button" class="btn btn-success" value="Review" />


    </div>

   </div>
    </div>



    <div style="display:flex;justify-content:space-around">
        <div style="display:none" id="Mcsqdiv">
            <div style="display:flex;gap:100px">
                <div><</div>
                <div>></div>
            </div>
            <div class="d-flex" style="justify-content:center">
                <div id="mcqsQuestion">
                </div>
            </div>
        </div>
    </div>


<script src="~/js/handle.js"></script>
@* <script type="text/javascript">
    $("body").on("change", "#selectedvideo", function () {
        var urlwithid = $("#selectedvideo").val();
        var url = urlwithid.split(',')[0];
        console.log(url);
        var vid = urlwithid.split(',')[1];

        $('#HiddenVid').val(vid);
        url = url.split('v=')[1];
        $("#video")[0].src = "//www.youtube.com/embed/" + url;
        $('#NavBoss').css("display", "block");
        $('body').removeClass('show-sidebar');
        $('body').find('.js-menu-toggle').removeClass('active');
        $('#mcqs2').css("display", "block");
        $('#review').css("display", "block");
        $('#Mcsqdiv').css("display", "none");

        $("#video").show();
    });
</script>
 *@

